.banner {
    background-color: $color-black-0;
    @include styleText($fs-7,$fw-normal, $color-white-0);
    overflow: hidden;
    margin-bottom: $mg-3;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background:linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    }
    .banner__top, .banner__bottom {
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
        .icon__item {
            margin: 3rem;

        }
    }
    .banner__middle {
        align-items: center;
        justify-content: center;
        .banner__text {
            h3 {
                margin-bottom: $mg-2;
                @include styleText($fs-3, $fw-bold, $color-white-0);
            }
            p{
                @include styleText($fs-0, $fw-normal, $color-white-0);

            }
            
        }
    }
}