// Customize external source
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 30%;
    left: -5%;
    width: 45px;
    height: 45px;
    border: 1px solid $color-gray-2;
    border-radius: 50%;
    background-color: $color-white-0;
    transition: all .2s;

    span {
        @include styleText($fs-4, $fw-normal, $color-blue);
        line-height: 30px;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-white-0;
        box-shadow: 0px 1px 5px 3px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    }
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 30%;
    right: -5%;
    width: 45px;
    height: 45px;
    border: 1px solid $color-gray-2;
    border-radius: 50%;
    background-color: $color-white-0;
    transition: all .2s;

    span {
        @include styleText($fs-4, $fw-normal, $color-blue);
        line-height: 30px;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-white-0;
        box-shadow: 0px 1px 5px 3px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    }
}

@include respond(tab-port) {
    .owl-carousel .owl-nav button.owl-prev {
        left: -3%;
    }
}